{% extends 'drilling/base.html' %}

{% block title %}Aprobar Turno{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
  <h4>¿Marcar Turno #{{ turno.id }} como APROBADO?</h4>
    <p>Sondaje: <strong>{{ turno.sondaje.nombre_sondaje }}</strong></p>
    <p>Fecha: <strong>{{ turno.fecha }}</strong></p>
    <form method="post">
      {% csrf_token %}
      <a href="{% url 'listar-turnos' %}" class="btn btn-secondary">Cancelar</a>
      <button type="submit" class="btn btn-primary">Aprobar Turno</button>
    </form>
  </div>
</div>
{% endblock %}
